## Aneks preprocessing

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

aneks = pd.read_csv('../data/aneks/raw/anekdotovru.csv')
aneks2 = pd.read_csv('../data/aneks/raw/anekdotovru2.csv')
aneks3 = pd.read_csv('../data/aneks/raw/anekdotovru3.csv')
aneks4 = pd.read_csv('../data/aneks/raw/anekdotovru4.csv')
aneks5 = pd.read_csv('../data/aneks/raw/anekdotovru5.csv')
aneks6 = pd.read_csv('../data/aneks/raw/anekdotovru6.csv')
aneks7 = pd.read_csv('../data/aneks/raw/anekdotovru7.csv')
aneks8 = pd.read_csv('../data/aneks/raw/anekdotovru8.csv')
aneks9 = pd.read_csv('../data/aneks/raw/anekdotovru9.csv')
aneks10 = pd.read_csv('../data/aneks/raw/anekdotov_net.csv')['anek']
aneks11 = pd.read_csv('../data/aneks/raw/anekdotov_net2.csv')['anek']
aneks12 = pd.read_csv('../data/aneks/raw/anekdotov_net_microrofls.csv')['anek']
aneks13 = pd.read_csv('../data/aneks/raw/shutochki.csv').dropna()

total = pd.concat([aneks, aneks2, aneks3, aneks4, aneks5, aneks6, aneks7, aneks8, aneks9,
                   aneks10, aneks11, aneks12, aneks13], axis=0)

0         <div class="text">Выборы президентов США как б...
1         <div class="text">Если Китай для стран бывшего...
2         <div class="text">Многие мужчины путают женить...
3         <div class="text">Жизненный парадокс: пока жив...
4         <div class="text">Я помню доллар за 6000 рубле...
                                ...
540385    <div class="text">Решила таганская братва отдо...
540386    <div class="text">Попросила сестра брата-нарко...
540387    <div class="text">Жираф ежу рассказывает:<br> ...
540388    <div class="text">Малыш : Карлсон, ты за кого ...
540389    <div class="text">Катит по Подмосковью ``Гранд...
Name: anek, Length: 529005, dtype: object

In [3]:
total = total.drop_duplicates('anek')

In [4]:
total.shape

(347285, 1)

In [5]:
aneks13

                                                    anek
0      решила жена заглянуть к своему мужу — директор...
1      - куда ты поступил учиться?- в медицинский.- о...
2      как руководитель высшего звена он поднялся из ...
3      блондинка — мужу: — милый, купи мне новый теле...
4      — пишите: «я, находясь в трезвом уме и здравой...
...                                                  ...
63273  — вы можете содержать семью? — спрашивает отец...
63274  всемирный симпозиум воров. проходит демонстрац...
63275  дед у своей старухи спрашивает:- послушай, ман...
63276  столкнулись на перекрестке 600 и копейка. из 6...
63277  собрался один одессит в италию ехать, ну, ему ...

[60853 rows x 1 columns]

In [6]:
total['n'] = None in total.anek

In [7]:
total.n.sum()

np.int64(0)

In [8]:
total = total.reset_index(drop=True)
total['anek'].to_json(r'D:/workspace/projects/anek/data/aneks/processed/aneks.json')

In [7]:
total['anek']

0         собрались как-то креативщик, пиарщик и технарь...
1         пошёл к психологу. он час убеждал меня, что я ...
2         деноминация проводится только тогда, когда кор...
3         президент сша дональд трамп обложил пошлинами ...
4         психотерапия - это такой созвон, где ты платиш...
                                ...
347281    — вы можете содержать семью? — спрашивает отец...
347282    всемирный симпозиум воров. проходит демонстрац...
347283    дед у своей старухи спрашивает:- послушай, ман...
347284    столкнулись на перекрестке 600 и копейка. из 6...
347285    собрался один одессит в италию ехать, ну, ему ...
Name: anek, Length: 347286, dtype: object

In [15]:
train, test = train_test_split(total, train_size=0.96)
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

In [16]:
test.shape

(12140,)

In [17]:
train.to_json(r'D:/workspace/projects/anek/data/aneks/processed/train.json')
test.to_json(r'D:/workspace/projects/anek/data/aneks/processed/test.json')

In [22]:
len(total)

303727

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

aneks = pd.read_csv('../data/aneks/raw/for_lora/anekdotru1.csv')

In [2]:
aneks.head()

                                                anek
0  <div class="text">Выборы президентов США как б...
1  <div class="text">Если Китай для стран бывшего...
2  <div class="text">Многие мужчины путают женить...
3  <div class="text">Жизненный парадокс: пока жив...
4  <div class="text">Я помню доллар за 6000 рубле...

In [3]:
aneks = aneks.dropna()

In [4]:
aneks.shape

(540391, 1)

In [5]:
import w3lib.html

def clear_anek(anek: str) -> str:
    anek = anek.replace('<br>', '\n')
    anek = w3lib.html.remove_tags(anek).strip()
    return anek

In [6]:
aneks.anek = aneks.anek.apply(clear_anek)

In [7]:
aneks.anek = aneks.anek.drop_duplicates().reset_index(drop=True)

In [8]:
aneks.dropna(inplace=True)

In [9]:
aneks['ln'] = aneks.anek.apply(lambda x: len(x.split()))

In [10]:
aneks[(aneks.ln > 5) & ((aneks.ln < 256))]

                                                     anek   ln
0       Выборы президентов США как будто сняты по реко...   24
1       Если Китай для стран бывшего СССР это "сын мам...   52
2           Многие мужчины путают женитьбу с усыновлением    6
3       Жизненный парадокс: пока живешь в неблагополуч...   41
4       Я помню доллар за 6000 рублей, так что знаю - ...   15
...                                                   ...  ...
528985  Решила таганская братва отдохнуть, рыбки полов...  107
528986  Попросила сестра брата-наркомана с ребенком по...   53
528987  Жираф ежу рассказывает:\n - Эх, как же я люблю...   25
528988  Малыш : Карлсон, ты за кого голосовать-то буде...   26
528989  Катит по Подмосковью ``Гранд-Чероки``. За руле...   94

[517639 rows x 2 columns]

In [11]:
aneks.anek.reset_index(drop=True)

0         Выборы президентов США как будто сняты по реко...
1         Если Китай для стран бывшего СССР это "сын мам...
2             Многие мужчины путают женитьбу с усыновлением
3         Жизненный парадокс: пока живешь в неблагополуч...
4         Я помню доллар за 6000 рублей, так что знаю - ...
                                ...
528985    Решила таганская братва отдохнуть, рыбки полов...
528986    Попросила сестра брата-наркомана с ребенком по...
528987    Жираф ежу рассказывает:\n - Эх, как же я люблю...
528988    Малыш : Карлсон, ты за кого голосовать-то буде...
528989    Катит по Подмосковью ``Гранд-Чероки``. За руле...
Name: anek, Length: 528990, dtype: object

In [12]:
train, test = train_test_split(aneks.anek, train_size=.98, shuffle=True, random_state=33)

In [13]:
train

515679    Примаков пришел к власти.\nЖурналисты собралис...
72458     - Россияне возмущаются тем, что в Украине поют...
141365    Путин прилетел в затопленную наводнением Иркут...
294732    Чтобы найти новый путь, для начала нужно уйти ...
511874    Едет Илья-Муромец по лесу на разборку с Кощеем...
                                ...
196665        В НАТО решили перевооружаться - играть в КВН.
158921    Космонавтика с физической точки зрения: бескон...
223890    - На всех не напасешься! - сказал пастух и бро...
393794    Рабочий день - сложный и изнурительный сексуал...
104152    В голливудских постановках бомбу разряжают на ...
Name: anek, Length: 518410, dtype: object

In [14]:
test

47066     Украинец Усик победил британца Джошуа на боксё...
416290    СКАЖИ ЧЕЛОВЕКУ – ОРЕЛ, И ОН ПОЛЕТИТ\n(грузинск...
24010     Сидят на лавочке двое пожилых мужчин.\n-Я рань...
64357     Байден: Мы уже и так и этак требуем от России ...
416673    Андрей так много болеет, что когда он родился ...
                                ...
197380    - Ой, что вы! Он настоящий виртуоз шитья! Можн...
223574    Слухи о том, что летом нефть начнут раздавать ...
363091    Анфиса Чехова знает о сексе всё, а владельцы "...
375674    Вчера делал с сыном уроки и за каждую ошибку з...
524636    Судья:\n- И вы утвеpждаете, что ваш муж, котоp...
Name: anek, Length: 10580, dtype: object

In [15]:
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)
train.to_json(r'D:/workspace/projects/anek/data/aneks/processed/train.json')
test.to_json(r'D:/workspace/projects/anek/data/aneks/processed/test.json')

In [17]:
aneks['anek'].reset_index(drop=True).to_json(r'D:/workspace/projects/anek/data/aneks/processed/aneks.json')
aneks['anek'].reset_index(drop=True).to_csv(r'D:/workspace/projects/anek/data/aneks/processed/aneks.txt', index=False, header=False)